repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.2
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/snakemake/snakefmt
    rev: v0.11.2 # https://github.com/snakemake/snakefmt/releases
    hooks:
      - id: snakefmt
