channels:
  - conda-forge
  - bioconda
  - nodefaults

name: snappy_env

dependencies:

  # Fundamentals
  - python=3.12
  - pip
  - git-lfs ~=3.5.1

  # for compiling packages from pip
  - gcc_linux-64 ~=13.2.0
  - gxx_linux-64 ~=13.2.0

  # basics some snappy wrappers rely on
  - coreutils ~=9.5
  - gawk ~=5.3.0
  - bash ~=5.2.21
  - gzip ~=1.13

  # pydantic is used to validate configuration files
  - pydantic =2.7

  # Snakemake is used for providing the actual wrapper calling functionality
  - snakemake >=9.11.7,<10
  - snakemake-executor-plugin-slurm >=1.8.0,<2

  # Additional libraries used by snappy
  - ruamel.yaml ==0.18.6    # Nice, round-trip enabled YAML parsing
  - fasteners ==0.17.3      # File-based locks
  - termcolor ==1.1.0       # Helpful for CLIs
  - matplotlib ==3.8.4      # Required for plotting
  - jinja2 ==3.1.4          # Jinja 2 template rendering

  # Bioinformatics-related libraries used by snappy
  - htslib ==1.20
  - bcftools ==1.20
  - samtools ==1.20

  # packages for testing
  - pytest ~=8.2.2
  - coverage ~=7.5.3
  - pytest-cov ~=5.0.0
  - pytest-mock ~=3.14.0
  - pytest-subprocess ~=1.5.0
  - pyfakefs ~=5.5.0
  - pytest-sugar ~=0.9.6
  - coveralls ~=4.0.1
  - pytabix >=0.1.0,<1
  # formatting, linting, dev
  - ruff >=0.9.0,<1
  - snakefmt >=0.10.2,<1
  - pre-commit ~=3.7.1
  # docs
  - sphinx ~=7.3.7
  - sphinx_rtd_theme ~=2.0.0
  - sphinx-mdinclude ~=0.6.0

  - zlib ~=1.3.0

  - pip:
    # build varfish-cli from pypi
    - varfish-cli ~=0.6.3
    # specific compatible biomedsheets revision
    - biomedsheets @ git+https://github.com/bihealth/biomedsheets.git@8a86f4c0b94b2c0bde14a22acf552387958ad688
    # specific compatible altamisa revision
    - altamisa @ git+https://github.com/bihealth/altamisa.git@7091c49dcea5584192daf0b0d8a4730208b841d8

    # build pysam and vcfpy via pip (to avoid python version + conda packaging issues)
    - pysam ~=0.22
    - vcfpy ~=0.13.8
