name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"

    steps:
      - name: Install Python via conda.
        uses: s-weigand/setup-conda@v1
        with:
          python-version: ${{ matrix.python-version }}
          conda-channels: defaults,bioconda,conda-forge
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          lfs: true
          fetch-depth: 2
      - name: Install mamba.
        run: conda install -y mamba
      - name: Prepare environment.yml file.
        run: >
          cp environment.yml /tmp/environment.yml && sed -i -e
          's/- python/- python=${{ matrix.python-version }}/'
          /tmp/environment.yml
      - name: Update environment using mamba.
        run: mamba env update --name root --file /tmp/environment.yml
      - name: Install some more dependencies via pip
        run: pip install -r requirements/test.txt
      - name: Run tests
        run: pytest
        env:
          DIFF_MASTER: ${{ github.event_name == 'pull_request' }}
          DIFF_LAST_COMMIT: ${{ github.ref == 'refs/heads/master' }}
      - name: Create text report
        run: coverage report
      - name: Create XML report for codacy
        run: coverage xml
      - name: Coveralls
        uses: AndreMiras/coveralls-python-action@develop
      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.xml
        if: ${{ matrix.python-version == '3.7' && (github.ref == 'refs/heads/master') }}
      - name: Check import order with isort
        run: isort --force-sort-within-sections -profile
        if: ${{ matrix.python-version < '3.9' }}
      - name: Check style with black
        run: black --check --line-length 100 .
        if: ${{ matrix.python-version < '3.9' }}
      - name: Check style with snakefmt
        run: snakefmt -l 100 --check --include '(\.smk$|\.rules$|^Snakefile)' .
        if: ${{ matrix.python-version < '3.9' }}
